<ul class="nav nav-tabs">
    {% for page in pages %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ page.name }}</a>
        <ul class="dropdown-menu">
            {% if page.name == "Личный кабинет" %}
                {% if user.is_authenticated %}
                        <li>
                            <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
                            {% csrf_token %}
                                <button type="submit" class="dropdown-item">Выйти</button>
                            </form>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'booking:manage_reservations' %}">Управление бронированием</a></li>
                        <li><a class="dropdown-item" href="{% url 'booking:reservation_history' %}">История бронирований</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:user_detail' user.pk %}">Мой профиль</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:user_update' user.pk %}">Редактировать профиль</a></li>
                        {% if perms.users.can_block_user %}
                            <li><a class="dropdown-item" href="{% url 'users:users_list' %}">Пользователи</a></li>
                        {% endif %}
                {% else %}
                    <li><a class="dropdown-item" href="{% url 'users:login' %}">Войти</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:register' %}">Зарегистрироваться</a></li>
                {% endif %}

            {% elif page.name == "Бронирование" %}
                <li><a class="dropdown-item" href="{% url 'booking:table_list' %}">Схема зала</a></li>
                {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'booking:reservation_create' %}">Забронировать столик</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="{% url 'users:login' %}">Авторизуйтесь для бронирования</a></li>
                {% endif %}

            {% else %}
                {% for section in page.page_sections.all %}
                    <li><a class="dropdown-item" href="{% url 'restaurant:section_detail' pk=section.pk %}">{{ section.name }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </li>
    {% endfor %}
</ul>
