{% extends 'restaurant/base.html' %}
<title>{% block title %}{{object.name}}{% endblock %}</title>

{% block content %}
<div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-4">
        <div class="col-md-4">
            <img src="{{ MEDIA_URL }}{{ object.image.url }}" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
            <div class="card text">
                <div class="card-header fw-bolder w-75 p-3 fs-2">{{object.title}}</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{object.content}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

